@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    font-family: "Comfortaa", sans-serif;
    font-weight: 500;

}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #00AAFF, #00FF6C);
}

.calculator {
    display: grid;
    align-content: center;
    justify-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background: rgba(255, 255, 255, 0.75);
}

.calculator > button:hover {
    background: rgba(255, 255, 255, .9);
}

.span-two {
    grid-column: span 2;
}

.calculator__output {
    grid-column:  1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.calculator__output .calculator__previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.calculator__output .calculator__current-operand {
    color: white;
    font-size: 2.5rem;
}